<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Seller Info</title>
</head>
<body>
    <div class="logincont">
        <h3 class="header">Login</h3>
        <hr class="headerline">
        <div class="logincontainer">
            <form action="" method="post">
                <div class="firstcol">
                    <div>
                        <label for="">User name</label>
                        <input type="text" placeholder="User name" name="uname">
                    </div>
                    <div>
                        <label for="">Password</label>
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <input class="submitbtn loginbtn" type="submit" value="Login" name="loginbtn">
                    <a class="createlink" href="sellerRegister.html">Create new Account</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>